
.main{
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
       
}
h1{
    color: white;
    border-color: black;
    -webkit-text-stroke: 1px black;
}
body {
    background-image: url('https://cdn.pixabay.com/photo/2017/03/25/17/56/color-2174049_1280.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    
} 
.cabezera{
    text-align: center;
    grid-column: 2/3;
    font-size: 30px;
}

.menu {
    border-radius: 70px;
    background-color:#539fa2;
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/2;
    grid-column: 1/4;
    width: 933px;
}

.menu li, ul {
    text-decoration: none;
    display: inline;
    padding: 35px;
}
ul,li{
        text-decoration: none;
        display: inline-block;
        margin-right: 10 px;
}
.eladio{
grid-row: 3/4;
grid-column: 1/2;

}
.informacion1{
    grid-row: 3/4;
    grid-column: 3/4;
    border-radius: 50px;
    margin: auto;
    padding: 20px;
    background-color: #72b1a4;
    width: 80%;
    height: 90%;
}
.Motociclismo{
grid-row: 4/5;
grid-column: 1/2;
}
.informacion2{
    grid-row: 4/5;
    grid-column: 3/4;
    border-radius: 50px;
    margin: auto;
    padding: 20px;
    background-color: #abccb1;
    width: 80%;
    height: 90%;
}
.Gamergy{
    grid-row: 5/6;
    grid-column: 1/2;
}
.informacion3{
    grid-row: 5/6;
    grid-column: 3/4;
    border-radius: 50px;
    margin: auto;
    padding: 20px;
    background-color: #c4dbb4;
    width: 80%;
    height: 90%;
}
.musical{
    grid-row: 6/7;
    grid-column: 1/2;
}
.informacion4{
    grid-row: 6/7;
    grid-column: 3/4;
    border-radius: 50px;
    margin: auto;
    padding: 20px;
    background-color: #d4e2b6;
    width: 80%;
    height: 90%;
}
.logo{
    text-align: center;
    grid-column: 1/4;
    grid-row: 7/8;
}

.privacy{
    border-radius: 70px;
    background-color:#539fa2;
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/2;
    grid-column: 1/4;
    width: 933px;
    grid-column: 1/3;
    grid-row: 17/18;
  }
  .boton1 {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    background-color: #539fa2;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.boton1:hover {
    background-color: #abccb1;
    transform: scale(1.05);
}
  .boton2 {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    background-color: #539fa2;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.boton2:hover {
    background-color: #abccb1; 
    transform: scale(1.05);
}
  .botonI {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    background-color: #c4dbb4;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.botonI:hover {
    background-color: #abccb1; 
    transform: scale(1.05);
}