.main{
        
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
}
h1{
    color: white;
    -webkit-text-stroke: 2px black;
    border-color: black;
}
body {
    
    background-image: url('https://cdn.pixabay.com/photo/2017/03/25/17/56/color-2174049_1280.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    
}   
.cabezera{
    text-align: center;
    grid-column: 1/4;
    font-size: 30px;
}

.menu {
    border-radius: 70px;
    background-color:#539fa2;
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/2;
    grid-column: 1/4;
    width: 933px;
}

.menu li, ul {
    text-decoration: none;
    display: inline;
    padding: 35px;
}
ul,li{
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;
}
.quienessomos{
    border-radius: 50px;
    margin: auto;
    padding: 20px;
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #72b1a4;
    width: 80%;

    
}
.foto1{
    text-align: center;
   
    background-repeat: no-repeat;
    background-position: 50%;
    grid-row: 3/4;
    grid-column: 2/4;
    
}
.foto2{
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    grid-row: 4/5;
    grid-column: 1/2;
}
.foto3{
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    grid-row: 4/5;
    grid-column: 2/3;
}
.ultimoevento{
    grid-row: 4/5;
    grid-column: 3/4;
    border-radius: 50px;
    margin: auto;
    padding: 20px;
    background-color: #d4e2b6;
    width: 80%;
}
.Proximoeventos{
    grid-row: 5/6;
    grid-column: 1/4;
    border-radius: 70px;
    background-color:#539fa2;
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 933px;
}
.foto4{
    
    
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 100%;
    grid-row: 6;
    grid-column: 1;
    
}
.eladiocarrion{
grid-row: 6/7;
grid-column: 2/4;
margin: auto;
padding: 20px;
background-color: #72b1a4;
width: 80%;
background-position: left;

}
.motos{
    
   
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 100%;
    grid-row: 7/8;
    grid-column: 1/2;
}
.eventomotos{
    grid-row: 7/8;
    grid-column: 2/4;
    margin: auto;
    padding: 20px;
    background-color: #abccb1;
    width: 80%;
}
.gamergy{
   
    
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 100%;
    grid-row: 8/9;
    grid-column: 1/2;
}
.eventogamergy{
    grid-row: 8/9;
    grid-column: 2/4;
    margin: auto;
    padding: 20px;
    background-color: #c4dbb4;
    width: 80%;
}
.reyleon{
    
    
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 100%;
    grid-row: 9/10;
    grid-column: 1/2;
}
.eventoreyleon{
    grid-row: 9/10;
    grid-column: 2/4;
    margin: auto;
    padding: 20px;
    background-color: #d4e2b6;
    width: 80%;
}
.mapa{
    grid-row: 11/12;
    grid-column: 1/2;
}
.ubicacion{
    grid-row: 11/12;
    grid-column: 3/4;
    margin: auto;
    padding: 20px;
    background-color: #d4e2b6;
    width: 70%;
    height: 90%;
    border-radius: 50px;
}
.ubicacion1{
    grid-row: 10/11;
    grid-column: 1/4;
    border-radius: 70px;
    background-color:#539fa2;
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 933px;

}

.logo{

    text-align: center;
    grid-column: 1/4;
    grid-row: 15/16;
}
section {
    text-align: center;
    display: flex;
    width: 800px;
    height: 430px;
    margin: 0 auto;
   grid-row: 16/17;
   grid-column: 1/4;

  }
  section img {
    width: 20px;
    flex-grow: 1;
    object-fit: cover;
    filter: brightness(150%);
    transition: .5s ease;
    padding-left: 0px;
    grid-row: 16/17;
    
  }
  section img:hover{
    cursor: pointer;
    width: 700px;
    opacity: 1;
    filter: brightness(150%);
    grid-row: 16/17;
  }

  .privacy{
    border-radius: 70px;
    background-color:#539fa2;
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 933px;
    grid-column: 1/4;
    grid-row: 17/18;
    
  }
  .boton1 {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    background-color: #539fa2;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.boton1:hover {
    background-color: #abccb1;
    transform: scale(1.05);
}
  .boton2 {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    background-color: #539fa2;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.boton2:hover {
    background-color: #abccb1; 
    transform: scale(1.05);
}